.appContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainContent {
    display: flex;
    flex: 1;
    padding-top: 70px;
    /* Header height */
}

.panelContainer {
    flex: 1;
    padding: var(--space-xl);
    margin-left: 260px;
    /* Sidebar width */
    min-height: calc(100vh - 70px);
}

.panelWrapper {
    height: 100%;
}

@media (max-width: 1024px) {
    .panelContainer {
        margin-left: 0;
        padding: var(--space-lg);
    }
}